<!DOCTYPE html>
<html lang="en">
<head>
  {{>header}}
  <title>Document</title>
</head>
<body>
  {{>navbar}}
  <div class="main__headin__56">
    <ul class="heads__mai__12">
      <li><a class="anch__tg__67"  href="/">Home</a ></li>
      <li><a class="anch__tg__67" href="/login">login</a></li>
      <li> <a class="anch__tg__67" href="/register">register</a></li>
    </ul>
    
  </div>
</body>
</html>