

<html lang="en">
  <head>
    {{>header}}
    <title>Document</title>
  </head>
  <body>

    <div class="header_main">
      {{>navbar}}
      <div class="form__data">
         
 
<form action="/login" method="POST">
 <h1 class="log__in_23">Log in</h1>
<h4 class="email__data">Email Address</h4>
    <input class="inpt__type" type="email" name="email" required
        placeholder="mike@gmail.com">
        <br />
        <h4 class="email__data">Password</h4>
    <input class="inpt__type" type="password" name="password" required
        placeholder="Enter your password">
        <br />
    <button class="btn__me__78" type="submit">Log in</button>

    <p class="acoount__create">Don't have an account ? <a class="sign__page" href="./register">Sign up</a></p>
</form>
      </div>
    </div>
  </body>
</html>