<div class="nav__12">
  <div class="ttle__54">
    <h1>Arnowa</h1>
  </div>
  <div class="smart_123">
    <span class="smart__23">Smart</span>
    <span class="efficient__59">Efficient</span>
    <span class="smart__23">Effective</span>
  </div>

</div>